# Credentials
dashboard/.tanstack/
application_default_credentials.json
.vscode
.env
.env.backend
.idea

# k6 data
k6/data/dump.sql
k6/results/*.json

# .github scripts dependencies
.github/scripts/node_modules
