x-backend-common: &backend-common
    build:
        context: ./backend
        args:
            BACKEND_VOLUME_DIR: ${BACKEND_VOLUME_DIR:-/volume_data}
    volumes:
        - backend-data:${BACKEND_VOLUME_DIR:-/volume_data}
        - ../data:/app  # Directory of the tree names file and other data
        - ../spool:/app/spool  # Directory for ingester to monitor
    env_file:
        - .env.backend
    secrets:
        - postgres_password_secret
    networks:
        - private
        - public

volumes:
    backend-data:
    runtime-data:
    static-data:
    dashboard-db-data:

networks:
    public:
    private:

secrets:
    postgres_password_secret:
        file: ./backend/runtime/secrets/postgres_password_secret

services:
    backend:
        <<: *backend-common
        container_name: dashboard_backend_service
        restart: always
        environment:
            - CONTAINER_MODE=backend
        depends_on:
            - redis
            - dashboard_db
        ports:
            - target: 8000
              published: 8000
              protocol: tcp
              mode: host
            - target: 8001
              published: 8001
              protocol: tcp
              mode: host

    ingester:
        <<: *backend-common
        container_name: dashboard_ingester_service
        environment:
            - CONTAINER_MODE=command
            # Pass down the variable from .env to inside the container
            - INGESTER_METRICS_PORT=${INGESTER_METRICS_PORT:-8002}
        command:
            - poetry
            - run
            - python3
            - manage.py
            - monitor_submissions
            - --spool-dir
            - /app/spool
        restart: always
        depends_on:
            - dashboard_db
        ports:
            - target: ${INGESTER_METRICS_PORT:-8002}
              published: ${INGESTER_METRICS_PORT:-8002}
              protocol: tcp
              mode: host
        profiles: ["with_commands"]
    
    pending_aggregations_processor:
        <<: *backend-common
        container_name: pending_aggregations_processor_service
        environment:
            - CONTAINER_MODE=command
        command:
            - poetry
            - run
            - python3
            - manage.py
            - process_pending_aggregations
            - --loop
            - --interval
            - "5"
        restart: always
        depends_on:
            - dashboard_db
        profiles: ["with_commands"]

    dashboard_db:
        image: postgres:17
        env_file:
            - .env.db
        volumes:
            - dashboard-db-data:/var/lib/postgresql/data
        networks:
            - private
        ports:
            - "5434:5432"

    cloudsql-proxy:
        image: gcr.io/cloudsql-docker/gce-proxy:latest
        container_name: cloudsql-proxy
        command: /cloud_sql_proxy --dir=/cloudsql -instances=kernelci-production:us-central1:postgresql2=tcp:0.0.0.0:5432 -credential_file=/secrets/cloudsql/application_default_credentials.json
        ports:
            - 5432:5432
        volumes:
            - ./application_default_credentials.json:/secrets/cloudsql/application_default_credentials.json
        networks:
            - private
        restart: always

    redis:
        image: redis:8.0-M04-alpine
        restart: always
        networks:
            - private
        ports:
            - 6379:6379

    dashboard:
        build:
            context: .
            dockerfile: ./dashboard/Dockerfile
        image: dashboard:latest
        volumes:
            - static-data:/data/static

    proxy:
        build: ./proxy
        restart: always
        depends_on:
            - backend
            - dashboard
        networks:
            - public
        volumes:
            - static-data:/data/static
        ports:
            - target: 80
              published: 80
              protocol: tcp
              mode: host
        env_file:
            - .env.proxy
