volumes:
    backend-data:
    runtime-data:
    static-data:
    dashboard-db-data:

networks:
    public:
    private:

secrets:
    postgres_password_secret:
        file: ./backend/runtime/secrets/postgres_password_secret

services:
    dashboard_db:
        image: postgres:17
        environment:
            - POSTGRES_USER=${DASH_DB_USER:-admin}
            - POSTGRES_PASSWORD=${DASH_DB_PASSWORD:-admin}
            - POSTGRES_DB=${DASH_DB_NAME:-dashboard}
        volumes:
            - dashboard-db-data:/var/lib/postgresql/data
        networks:
            - private
        ports:
            - "5434:5432"

    cloudsql-proxy:
        image: gcr.io/cloudsql-docker/gce-proxy:latest
        container_name: cloudsql-proxy
        command: /cloud_sql_proxy --dir=/cloudsql -instances=kernelci-production:us-central1:postgresql2=tcp:0.0.0.0:5432 -credential_file=/secrets/cloudsql/application_default_credentials.json
        ports:
            - 5432:5432
        volumes:
            - ./application_default_credentials.json:/secrets/cloudsql/application_default_credentials.json
        networks:
            - private
        restart: always

    redis:
        image: redis:8.0-M04-alpine
        restart: always
        networks:
            - private
        ports:
            - 6379:6379

    backend:
        build:
            context: ./backend
            args:
                BACKEND_VOLUME_DIR: ${BACKEND_VOLUME_DIR:-/volume_data}
        volumes:
            - backend-data:${BACKEND_VOLUME_DIR:-/volume_data}
        restart: always
        container_name: dashboard_backend_service
        networks:
            - private
            - public
        ports:
            - target: 8000
              published: 8000
              protocol: tcp
              mode: host
        depends_on:
            - cloudsql-proxy
            - redis
            - dashboard_db
        secrets:
            - postgres_password_secret
        environment:
            - 'ALLOWED_HOSTS=["backend", "localhost"]'
            - DB_DEFAULT_PASSWORD_FILE=/run/secrets/postgres_password_secret
            - DB_DEFAULT_HOST=cloudsql-proxy
            - DB_DEFAULT_USER=${DB_DEFAULT_USER:-kernelci}
            - DB_DEFAULT_NAME=${DB_DEFAULT_NAME:-kcidb}
            - DJANGO_SECRET_KEY=${DJANGO_SECRET_KEY}
            - DEBUG=${DEBUG:-False}
            - DISCORD_WEBHOOK_URL=${DISCORD_WEBHOOK_URL}
            - REDIS_HOST=redis
            - GMAIL_API_TOKEN=gmail_api_token.json
            - DASH_DB_NAME=${DASH_DB_NAME:-dashboard}
            - DASH_DB_USER=${DASH_DB_USER:-admin}
            - DASH_DB_PASSWORD=${DASH_DB_PASSWORD:-admin}
            - DASH_DB_HOST=dashboard_db
            - DASH_DB_PORT=${DASH_DB_PORT:-5432}

    dashboard:
        build: ./dashboard
        image: dashboard:latest

    collect_static:
        build: './collect_static'
        image: collect_static:latest
        depends_on:
            - dashboard
        volumes:
            - static-data:/data/static

    proxy:
        build: ./proxy
        restart: always
        depends_on:
            - backend
            - collect_static
        networks:
            - public
        volumes:
            - static-data:/data/static
        ports:
            - target: 80
              published: 80
              protocol: tcp
              mode: host
        environment:
            - PROXY_TARGET=http://backend:8000
