volumes:
    test-backend-data:
    test-db-data:

networks:
    private:

services:
    test_db:
        image: postgres:17
        environment:
            POSTGRES_DB: kcidb_test
            POSTGRES_USER: test_user
            POSTGRES_PASSWORD: test_password
        volumes:
            - test-db-data:/var/lib/postgresql/data
            - ./backend/scripts/init-test-db.sql:/docker-entrypoint-initdb.d/init-test-db.sql
        networks:
            - private
        ports:
            - "5435:5432"

    redis:
        image: redis:8.0-M04-alpine
        restart: always
        networks:
            - private
        ports:
            - "6380:6379"

    test_backend:
        build:
            context: ./backend
            args:
                BACKEND_VOLUME_DIR: /volume_data
                INSTALL_DEV_DEPS: "true"
        volumes:
            - test-backend-data:/volume_data
        container_name: test_backend_service
        networks:
            - private
        ports:
            - target: 8000
              published: 8001
              protocol: tcp
              mode: host
        depends_on:
            - test_db
            - redis
        environment:
            DB_NAME: kcidb_test
            DB_USER: test_user
            DB_PASSWORD: test_password
            DB_HOST: test_db
            DB_PORT: 5432
            DEBUG: true
            DEBUG_SQL_QUERY: false
            REDIS_HOST: redis
            CACHE_TIMEOUT: 60
            CORS_ALLOW_ALL_ORIGINS: true
            TEST_DB_HOST: test_db
            TEST_DB_PORT: 5432
        command:
            - poetry
            - run
            - gunicorn
            - kernelCI.wsgi:application
            - --workers=5
            - --forwarded-allow-ips=*
            - --bind=0.0.0.0:8000
            - --timeout=250
        entrypoint: "./utils/docker/backend_entrypoint.sh"
