
{% extends "base.txt" %}
{% block header %}{% endblock %}
{% block content %}
Hello,

New build issue found on {{ issue["tree_name"] }}/{{ issue["git_repository_branch"] }}:

---
{{ issue["comment"]}}
---

- dashboard: https://d.kernelci.org/i/{{ issue["id"] }}
- giturl: {{ issue["git_repository_url"]}}
- commit HEAD:  {{ issue["git_commit_hash"] }}
{% if issue["git_commit_tags"] -%}
- tags: {% for tag in issue["git_commit_tags"] %}{{tag}}{% if not loop.last %},{% endif %}{% endfor %}
{%- endif %}

{% if "misc" in issue.keys() and "logspec" in issue["misc"].keys() %}
Log excerpt:
=====================================================
{{ issue["misc"]["logspec"]["error"]["log_excerpt"] }}
=====================================================
{% endif %}

# Builds where the incident occurred:
{% for build in builds %}
## {{ build["config_name"] }} on ({{ build["architecture"] }}):
- compiler: {{ build["compiler"] }}
- config: {{ build["config_url"] }}
- dashboard: https://d.kernelci.org/build/{{build["id"]}}
{% endfor %}

#kernelci issue {{ issue["id"] }}

Reported-by: kernelci.org bot <bot@kernelci.org>

{%- endblock -%}