
{% extends "base.txt" %}

{% macro render_issues(issues) -%}
{%- for platform, configs in issues.items() %}
Hardware: {{ platform }}
  {%- for config_name, arch_compilers in configs.items() %}
  > Config: {{config_name}}
    {%- for arch_compiler, paths in arch_compilers.items() %}
    - Architecture/compiler: {{arch_compiler}}
      {%- for path, test_group in paths.items() %}
      - {{path}}
      last run: https://d.kernelci.org/test/{{test_group[0]["id"]}}
      history:  {% for t in test_group | reverse -%}
                {%- if t["status"] == "PASS" -%}
                    {{- "> ✅  " -}}
                {%- elif t["status"] == "FAIL" -%}
                    {{- "> ❌  " -}}
                {%- else -%} {# Inconclusive (other statuses) #}
                    {{- "> ⚠️  " -}}
                {%- endif -%}
            {%- endfor %}
            {% endfor %}
          {%- endfor %}
    {%- endfor -%}
{%- endfor -%}
{%- endmacro %}

{% block header %}{% endblock %}
{% block content %}
Hello,

Status summary for {{ checkout["tree_name"] }}/{{ checkout["git_repository_branch"] }}

Dashboard:
https://d.kernelci.org/c/{{ checkout["tree_name"] }}/{{ checkout["git_repository_branch"] }}/{{ checkout["git_commit_hash"] -}}/
{%- if checkout["origin"] != "maestro" %}?o={{ checkout["origin"] }}{% endif %}

giturl: {{ checkout["git_repository_url"] }}
branch: {{ checkout["git_repository_branch"] }}
commit hash: {{ checkout["git_commit_hash"] }}
origin: {{ checkout["origin"] }}
test start time: {{ checkout["start_time"] }}

Builds:{{ "\t" }}{{ "{:>5}".format(build_status_group["success"]) }} ✅
{{- "{:>5}".format(build_status_group["failed"]) }} ❌
{{- "{:>5}".format(build_status_group["inconclusive"]) }} ⚠️
Boots: {{ "\t" }}{{ "{:>5}".format(boot_status_group["success"]) }} ✅
{{- "{:>5}".format(boot_status_group["failed"]) }} ❌
{{- "{:>5}".format(boot_status_group["inconclusive"]) }} ⚠️
Tests: {{ "\t" }}{{ "{:>5}".format(test_status_group["success"]) }} ✅
{{- "{:>5}".format(test_status_group["failed"]) }} ❌
{{- "{:>5}".format(test_status_group["inconclusive"]) }} ⚠️

### POSSIBLE REGRESSIONS
{%- if new_issues %}
    {{ render_issues(new_issues) }}
{% else %}

  No possible regressions observed.
{% endif %}

### FIXED REGRESSIONS
{%- if fixed_issues %}
    {{ render_issues(fixed_issues) }}
{% else %}

  No fixed regressions observed.
{% endif %}

### UNSTABLE TESTS
{%- if unstable_tests %}
    {{ render_issues(unstable_tests) }}
{% else %}

  No unstable tests observed.
{% endif %}


{%- set new_issues = build_issues | selectattr('is_new_issue', 'equalto', true) | list %}
{%- set old_issues = build_issues | selectattr('is_new_issue', 'equalto', false) | list %}
{%- if new_issues | length > 0 %}
### NEW BUILD ISSUES
{%- for issue in new_issues %}
- Issue: {{ issue.issue_id }} | version: {{ issue.version }}
  {%- if issue.build_id %}
  Build: {{ issue.build_id }}
  {%- endif %}
  Comment: {{ issue.comment }}
  {%- if issue.first_seen %}
  First seen: {{ issue.first_seen }}
  {%- endif %}
  {%- if issue.report_url %}
  Report: {{ issue.report_url }}
  {%- endif %}
  {%- set culprits = [] -%}
  {%- if issue.culprit_tool %}{% set culprits = culprits + ["tool"] %}{% endif %}
  {%- if issue.culprit_code %}{% set culprits = culprits + ["code"] %}{% endif %}
  {%- if issue.culprit_harness %}{% set culprits = culprits + ["harness"] %}{% endif %}
  Culprit: {{ culprits | unique | join(", ") if culprits | length > 0 else "None" }}
{%- endfor %}
{%- endif %}
{%- if old_issues | length > 0 %}


This branch has {{ old_issues | length }} pre-existing build issues. See details in the dashboard.
{%- endif %}

Sent every day if there were changes in the past 24 hours.
Legend: ✅ PASS   ❌ FAIL  ⚠️ INCONCLUSIVE
{%- endblock -%}

