
{% extends "base.txt" %}

{% macro render_issues(issues) -%}
{%- for platform, configs in issues.items() %}
Hardware: {{ platform }}
    {%- for config_name, paths in configs.items() %}
            {%- for path, test_group in paths.items() %}
- {{path}} ({{config_name}})
  last run: https://d.kernelci.org/test/{{test_group[0]["id"]}}
  history:  {% for t in test_group | reverse -%}
                {%- if t["status"] == "PASS" -%}
                    {{- "> ✅  " -}}
                {%- elif t["status"] == "FAIL" -%}
                    {{- "> ❌  " -}}
                {%- else -%} {# Inconclusive (other statuses) #}
                    {{- "> ⚠️  " -}}
                {%- endif -%}
            {%- endfor %}
            {% endfor %}
    {%- endfor -%}
{%- endfor -%}
{%- endmacro %}

{% block header %}{% endblock %}
{% block content %}
Hello,

Status summary for {{ checkout["tree_name"] }}/{{ checkout["git_repository_branch"] }}

Dashboard:
https://d.kernelci.org/tree/{{ checkout["git_commit_hash"] }}?ti%7Cc={{ checkout["git_commit_name"] }}&ti%7Cch={{ checkout["git_commit_hash"] }}&ti%7Cgb={{ checkout["git_repository_branch"] }}&ti%7Cgu={{ git_url_safe }}&ti%7Ct={{ checkout["tree_name"] }}

giturl: {{ checkout["git_repository_url"] }}
branch: {{ checkout["git_repository_branch"] }}
commit hash: {{ checkout["git_commit_hash"] }}
origin: {{ checkout["origin"] }}
test start time: {{ checkout["_timestamp"] }}

Builds:{{ "\t" }}{{ "{:>5}".format(build_status_group["success"]) }} ✅
{{- "{:>5}".format(build_status_group["failed"]) }} ❌
{{- "{:>5}".format(build_status_group["inconclusive"]) }} ⚠️
Boots: {{ "\t" }}{{ "{:>5}".format(boot_status_group["success"]) }} ✅
{{- "{:>5}".format(boot_status_group["failed"]) }} ❌
{{- "{:>5}".format(boot_status_group["inconclusive"]) }} ⚠️
Tests: {{ "\t" }}{{ "{:>5}".format(test_status_group["success"]) }} ✅
{{- "{:>5}".format(test_status_group["failed"]) }} ❌
{{- "{:>5}".format(test_status_group["inconclusive"]) }} ⚠️

### POSSIBLE REGRESSIONS
{%- if new_issues %}
    {{ render_issues(new_issues) }}
{% else %}

  No possible regressions observed.
{% endif %}

### FIXED REGRESSIONS
{%- if fixed_issues %}
    {{ render_issues(fixed_issues) }}
{% else %}

  No fixed regressions observed.
{% endif %}

### UNSTABLE TESTS
{%- if unstable_tests %}
    {{ render_issues(unstable_tests) }}
{% else %}

  No unstable tests observed.
{% endif %}

Sent every day if there were changes in the past 24 hours.
Legend: ✅ PASS   ❌ FAIL  ⚠️ INCONCLUSIVE
{%- endblock -%}

